{% extends "_base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-5 well">
      <div class="heading">
        <h1>Welcome to Flask Task Manager</h1>
        <h4>Please login to access your task list.</h4>
      </div>

      <form class="form" role="form" method="POST" action="/">
        {{ form.csrf_token }}
        <div class="form-group {% if form.name.errors %} has-error {% endif %}">
          {{ form.name(placeholder = "username", class="form-control") }}
          <p class="help-block">
            {{ form.name.errors[0] }}
          </p>
        </div>
        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
          {{ form.password(placeholder = "password", class="form-control") }}
          <p class="help-block">
            {{ form.password.errors[0] }}
          </p>
        </div>
        <button class="btn btn-success" type="submit">Sign in</button>
      </form>
    </div>
  </div>

  <br>

  <p><em>Need an account? </em><a href="/register">Signup!!</a></p>

{% endblock %}