{% extends "_base.html" %}
{% block content %}

  <div class="row">
  <div class="col-md-5 well">
    <div class="heading">
    <h4 class="form-heading">Welcome to Flask Task Manager</h4>
    <p>Please register to access your task list, this is a learning project.</p>
    </div>
    <form class="form" method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group {% if form.name.errors %} has-error {% endif %}">
        {{ form.name.label }}
        {{ form.name(placeholder="name 6-25 characters", class="form-control") }}
        <p class="help-block">
          {{ form.name.errors[0] }}
        </p>
      </div>
      <div class="form-group {% if form.email.errors %} has-error {% endif %}">
        {{ form.email.label }}
        {{ form.email(placeholder="ex. tytus@malpa.pl", class="form-control") }}
        <p class="help-block">
          {{ form.email.errors[0] }}
        </p>
      </div>
      <div class="form-group {% if form.password.errors %} has-error {% endif %}">
        {{ form.password.label }}
        {{ form.password(placeholder="password min. 6 characters", class="form-control") }}
         <p class="help-block">
          {{ form.password.errors[0] }}
        </p>
      </div>
      <div class="form-group {% if form.confirm.errors %} has-error {% endif %}">
        {{ form.confirm.label }}
        {{ form.confirm(placeholder="confirm password", class="form-control") }}
         <p class="help-block">
          {{ form.confirm.errors[0] }}
        </p>
      </div>
      <button class="btn btn-success" type="submit">Register</button>
    </form>
    <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
    </div>
  </div>
{% endblock %}