{% extends "_base.html" %}
{% block content %}

  <div class="add-task panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add a new task:</h3>
    </div>
    <div class="panel-body">
      <form action="{{ url_for('tasks.new_task') }}" method="post" class="form-horizontal">
        {{ form.csrf_token }}

        <div class="form-group {% if form.name.errors %} has-error {% endif %}">
          {{ form.name.label(class="col-xs-2 control-label") }}
          <div class="col-xs-2">
            {{ form.name(placeholder="New task name", class="form-control") }}
          </div>
          <p class="help-block col-xs-2">
            {{ form.name.errors[0] }}
          </p>
        </div>

        <div class="form-group {% if form.due_date.errors %} has-error {% endif %}">
          {{ form.due_date.label(class="col-xs-2 control-label") }}
          <div class="col-xs-2">
            {{ form.due_date(placeholder="ex. 05/31/2017", class="form-control") }}
          </div>
          <p class="help-block col-xs-2">
            {{ form.due_date.errors[0] }}
          </p>
        </div>

        <div class="form-group">
          {{ form.priority.label(class="col-xs-2 control-label") }}
          <div class="col-xs-1 selectContainer">
            {{ form.priority(class="form-control") }}
          </div>
          <div class="col-xs-2">
            <button class="btn btn-success" type="submit">Save</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="open-tasks panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Open Tasks</h3>
    </div>
    <table class = "table table-striped">
      <thead></thead>
      <tr>
        <th><strong>Task Name</strong></th>
        <th ><strong>Due Date</strong></th>
        <th ><strong>Posted Date</strong></th>
        <th ><strong>Priority</strong></th>
        <th ><strong>Posted By</strong></th>
        <th><strong>Actions</strong></th>
      </tr>
      {% for task in open_tasks %}
        <tr>
          <td >{{ task.name }}</td>
          <td >{{ task.due_date }}</td>
          <td >{{ task.posted_date }}</td>
          <td >{{ task.priority }}</td>
          <td >{{ task.poster.name }}</td>
          <td>
            {% if session['user_id'] == task.user_id or session['user_role'] == 'admin' %}
              <a class="btn btn-xs btn-success" href="{{ url_for('tasks.complete', task_id = task.task_id)}}">Complete</a>
              <a class="btn btn-xs btn-danger" href="{{ url_for('tasks.delete_entry', task_id=task.task_id) }}">Delete</a>
            {%  else %}
              <span class="label label-default">Not created by You</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

    <div class="completed-tasks panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Completed Tasks</h3>
    </div>
    <table class = "table table-striped">
      <thead></thead>
      <tr>
        <th><strong>Task Name</strong></th>
        <th ><strong>Due Date</strong></th>
        <th ><strong>Posted Date</strong></th>
        <th ><strong>Priority</strong></th>
        <th ><strong>Posted By</strong></th>
        <th><strong>Actions</strong></th>
      </tr>
      {% for task in closed_tasks %}
        <tr>
          <td >{{ task.name }}</td>
          <td >{{ task.due_date }}</td>
          <td >{{ task.posted_date }}</td>
          <td >{{ task.priority }}</td>
          <td >{{ task.poster.name }}</td>
          <td>
            {% if session['user_id'] == task.user_id or session['user_role'] == 'admin' %}
              <a class="btn btn-xs btn-danger" href="{{ url_for('tasks.delete_entry', task_id=task.task_id) }}">Delete</a>
            {%  else %}
              <span class="label label-default">Not created by You</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}